@import url('https://fonts.googleapis.com/css?family=Italianno');
*{
    /*Remove default browser padding*/
    margin: 0; 
    padding: 0;

}

.title{
    text-align: center;
    font-family: "Italianno";
    font-size: xx-large;
}

body{
    background-color: #C5C5C5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

nav{
    background-color: black;
    box-shadow: 3px 3px 5px grey;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li{
    height: 50px;
    width: 100%;

}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /*Remove default underline*/
    display: flex;
    align-items: center;
    justify-content: center; /*Centre all options*/
    color: white;
}

nav a:hover{
    background-color: #1ca9b0;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /*Sidebar above everything else*/
    backdrop-filter: blur(10px); /*How elements behind element rendered*/
    background-color: black;
    box-shadow: -1px 0 3px grey;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: auto;
}

.menu-button{
    display: none;

}

.active {
    background-color: #1ca9b0;
}

section {
    padding-top: 1%;
}

h1{
    color: #2C7E84;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 1%;

}

.blurb{
    display: flex; /* Activates Flexbox layout on the container */
    align-items: center; /* Vertically centers the items in the container */
    justify-content: space-between; /* Places space between the text and the image */
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

.blurb p {
    flex: 1;
    margin-right: 20px;
}
.blurb img{
 
    width: 30%;
    height: auto;
    border: 5px solid transparent;
    border-image-source: linear-gradient(45deg, #2C7E84, #1e7e83);
    border-image-slice: 1;
    
    
}

.work_preview {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 1%;
}

.work_preview img {
    width: 32%;
    height: auto;
    border: 5px solid transparent;
    border-image-source: linear-gradient(45deg, #1e7e83, #2C7E84);
    border-image-slice: 1; 
}


.button_container{
    text-align: center;
    padding: 3%;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1ca9b0;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

footer {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    /*Make footer stick to botton*/
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.contact-info{
    text-align:left;
}

.contact-info p{
    color: white;

}

.contact-info h2{
    color: #21D3E0;
    padding-bottom: 5%;
}

footer a {
    color: white;
    text-decoration: none; /* Optional: Adjust as per design */
}

.contact-info a:hover {
    text-decoration: underline; /* Optional: Adjust as per design */
}

.socials{
    color: #21D3E0;
    text-align: center;
    padding-right: 1%;
}

.socials img {
    padding-top: 25%;
    width: 24px; 
    height: auto;
    margin: 10px; 
}

/*Contact page*/
.team {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 1%;
}

.team-member {
    text-align: center; 
    margin: 5%;
}
.team-member {
    text-align: center; 
    margin: 5%; 
}


.team img {
    width: 32%;
    height: auto;
    border: 5px solid transparent;
    border-image-source: linear-gradient(45deg, #1e7e83, #2C7E84);
    border-image-slice: 1;
}



@media(max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .blurb{
        flex-direction: column;
    }
    .blurb p{
        margin-right: 0;
    }
    .blurb img{
        margin-top: 10px;
        width: 70%;
        max-width: 100%; /* Allow the image to take full width */
    }
   
}




/*Font adjust per screen*/
/* Smaller screens, typically mobile devices */
@media (max-width: 400px) and (max-width: 600px) {
    .sidebar{
        width: 100%;
    }
    
    body p {
        font-size: 14px; /* Smaller font size for mobile devices */
    }
    footer {
        font-size: 14px;
    }

    .team h1{
        font-size: 19px;
    }

    .team p{
        font-size: 15px;
    }

    .team{
        flex-direction: column; 
    }


    
}

/* Medium screens, typically tablets */
@media (min-width: 601px) and (max-width: 768px) {
    body p {
        font-size: 15px; /* Slightly larger font size for tablets */
    }

    .team h1{
        font-size: 19px;
    }

    .team p{
        font-size: 15px;
    }
    
}

/* Larger screens */
@media (min-width: 769px) {
    body p {
        font-size: 18px; /* Default size, or slightly larger if needed */
    }

    
    .team h1{
        font-size: 22px;
    }

    .team p{
        font-size: 18px;
    }
}

/* Extra-large screens */
@media (min-width: 1080px) {
    body p {
        font-size: 24px; /* Default size, or slightly larger if needed */
    }
    .socials img{
        width: 30px
    }

    footer p{
        font-size: 20px
    }

    .team h1{
        font-size: 24px;
    }

    .team p{
        font-size: 20px;
    }
}

/* Extra-large screens */
@media (min-width: 1200px) {
    body p {
        font-size: 32px; /* Larger font size for large desktops */
    }

    h1{
        font-size: 40px;
    }


}

    footer h2{
        font-size: 32px
    }
    footer p{
        font-size: 24px
    }

    .socials img{
        width: 50px
    }

    
}
