@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    /*Remove default browser padding and margin for all elements*/
    margin: 0; 
    padding: 0;

}

.title{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 1%
}

body{
    background-color: #C5C5C5;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    display: flex; /*More control over how the main div is displayed*/
    flex-direction: column;
    min-height: 100vh; /* Ensure it covers at least the full viewport (browser) height  */
}

main {
    flex: 1; /*Take up any available space*/
}

nav{
    background-color: black;
    /* x-offset, y-offset, blur radius*/
    box-shadow: 0px 5px 5px grey;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;

}

nav li{
    height: 50px;
    width: 100%;

}

nav a{
    height: 100%;
    text-decoration: none; /*Remove default underline*/
    display: flex;
    align-items: center;
    justify-content: center; /*Centre all options*/
    color: white;
}

nav a:hover{
    background-color: #1ca9b0;
}

.sidebar{
    height: 100vh; /*Take full screen*/
    width: 250px;
    z-index: 999; /*Sidebar above everything else*/
    backdrop-filter: blur(10px); /*How elements behind sidebar rendered*/
    background-color: black;
    box-shadow: 0px 10px 15px grey;
    display: none; /*Initially hidden*/
    flex-direction: column;
 
}

.menu-button{
    display: none;

}

.active {
    background-color: #1ca9b0;
}

section {
    padding-top: 1%;
}

h1{
    color: #2C7E84;
    font-family: "Quicksand", sans-serif;
    padding-left: 1%;

}

/*Hover transition*/
img{
    transition: 0.3s;

}

img:hover { /*Set images to slightly enlarge upon hover*/
    transform:scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 10px 15px grey;

}

.blurb{
    display: flex; /* Activates Flexbox layout on the container */
    align-items: center; /* Vertically centers the items in the container */
    justify-content: space-between; /* Places space between the text and the image */
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

.blurb p {
    flex: 1;
    margin-right: 20px;
}
.blurb img{
 
    width: 30%;
    height: auto;
    border: 3px solid transparent;
    border: 3px solid #2C7E84;
    
}

.work_preview {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 1%;
}

.work_preview img {
    width: 32%;
    height: auto; /*Maintain aspect ratio*/
    border: 3px solid #2C7E84;
}


.button_container{
    text-align: center;

}
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1ca9b0;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s; /*For when hovering*/
    padding: 1%;
    font-size: 22px;
}

.button:hover {
    background-color: #138f91;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 5%;
}

.contact-info{
    text-align:left;
    padding-left: 3%;
}

.contact-info p{
    color: white;

}

.contact-info h2{
    color: #21D3E0;
    padding-bottom: 5%;
}

footer a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline; 
}

.socials{
    color: #21D3E0;
    text-align: center;
    margin-right: 7%;
    
}

.socials img {
    width: 24px; 
    height: auto;
    margin: 10px; 
}

/*Team page*/
.team {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.team-member {
    text-align: center;
    margin: 5%;
    flex: 1; /* Try and make members have equal space*/
}

.team img {
    width: 40%;
    height: auto;
    border: 3px solid white;
    margin-bottom: 5%;
}


/*Contact Page*/
.contact h2{
    padding-bottom: 2%;
}

.contact {
    font-size: 24px;
    text-align: center;
    padding-top: 2%;
}

.form-group {
    margin-bottom: 3%; /* Space between each form element */
}

.item {
    width: 50%; 
    padding: 10px;
    /* To curve boxees*/
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.item:focus {
    border-color: #1ca9b0;
    outline: none; /* Remove default focus outline */
}

button.item {
    background-color: #1ca9b0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 1%;
    font-size: 22px;
}

button.item:hover {
    background-color: #138f91;

}

.error-txt{
    font-size: 18px;
    color:#a71818;
    text-align:center;
    padding: 0.5%;
    display: none;
}

.success-txt{
    color: green;
    padding-top: 2%;
    display: none;
}

/*Ensuring consistent font and size*/
input, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';  /* Ensuring a consistent font family */
    font-size: 16px;     
}

/*Ensure pseudo element placeholder text color is consistent*/
input::placeholder, textarea::placeholder {
    color: #6e6e6e;
}


/*Our Work Page*/

.work-container{

    margin-left: auto;
    margin-right: auto;
}

.slider-wrapper{
    position: relative;
    width: 75%;
    margin: 0 auto; /*centered on screen */
    padding: 2% 5%;  /* Add padding to create space for buttons */
    box-sizing: border-box; /* Include padding in width calculations */


}

.slider-wrapper p{
    font-size: 20px;
}
.slider-wrapper .slide-button{

    background-color: #1ca9b0;
    color: white;
    border: 1px solid #1ca9b0;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s; /*For when hovering*/
    padding: 1%;
    font-size: 22px;
    position: absolute; /*Freely display over other elements*/
    top: 60%; /* Align buttons vertically */
    transform: translateY(-50%); /* Center buttons vertically to slider-wrapper */
    z-index: 5; /* Ensure buttons are above the image list */
}
.slide-button:hover{
    background-color: #138f91;
}

.slider-wrapper .slide-button#prev-slide{
    left: 0px;  /* Place at the very left edge of the padded area */
    

}

.slider-wrapper .slide-button#prev-slide-2{
    left: 0px;  /* Place at the very left edge of the padded area */
    

}

.slider-wrapper .slide-button#next-slide{
    right: 0px;

}

.slider-wrapper .slide-button#next-slide-2{
    right: 0px;

}

.slider-wrapper .image-list{
    display: flex; /* Flex display to align images horizontally */
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping of items */
    box-sizing: border-box; /* Includes padding in width calculation */
    
}
.slider-wrapper .image-list .image-item{
    width: 325px; /*Size of each image*/
    height: auto;
    border: 3px solid #2C7E84;
}

/**Disable default scrollbar for this image list and slider-wrapper*/
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}


/*Photography Page*/
.image-grid {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 10%; /*So button doesnt lay over image*/
    display: grid;
    /*Grid has 3 columns and each column takes 1 fraction of available space*/
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 2%
}

.image-item {
    width: 100%; 
    height: auto; 
    border: 3px solid #2C7E84;
}

/*Retouching Page*/
.image-grid-retouching {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 25%; /*So button doesnt lay over image*/
    display: grid;
    /*Grid has 2 columns and each column takes 1 fraction of available space*/
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 2%;
}

.image-item-retouching{
    width: 100%; 
    height: auto; 
    border: 3px solid black;
}


/* Smaller screens, typically mobile devices */
@media (max-width: 600px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .blurb{
        flex-direction: column;
    }
    .blurb p{
        margin-right: 0;
    }
    .blurb img{
        margin-top: 10px;
        width: 70%;
        max-width: 100%; /* Allow the image to take full width */
    }
    
    .sidebar{
        width: 100%;
    }

    body p {
        font-size: 14px; 
    }
    footer {
        font-size: 14px;
    }

    .team h1{
        font-size: 19px;
    }

    .team p{
        font-size: 15px;
    }

    .team{
        flex-direction: column; 
    }

    .item {
        width: 80%; 
    }

    .image-grid{
        display: block;
    }

    .slider-wrapper .slide-button{
        top: 70%; /* Ensure button stays aligned on mobile */
    }



}

/* Medium screens, typically tablets */
@media (min-width: 601px) and (max-width: 768px) {
    body p {
        font-size: 15px; /* Slightly larger font size for tablets */
    }

    .team h1{
        font-size: 19px;
    }

    .team p{
        font-size: 15px;
    }

    .team img{
        width: 80%;
        margin-bottom: 5%;
    }

    .item {
        width: 60%; 
    }

}

/* Larger screens */
@media (min-width: 769px) {
    body p {
        font-size: 18px; /* Default size, or slightly larger if needed */
    }

    .team h1{
        font-size: 22px;
    }

    .team p{
        font-size: 18px;
    }

    .team img{
        width: 50%;
    }
}

/* Extra-large screens */
@media (min-width: 1080px) {
    body p {
        font-size: 24px; /* Default size, or slightly larger if needed */
    }
    .socials img{
        width: 30px
    }

    footer p{
        font-size: 20px
    }

    .team h1{
        font-size: 24px;
    }

    .team p{
        font-size: 20px;
    }
}

/* Extra--Extra-large screens */
@media (min-width: 1200px) {
    body p {
        font-size: 32px; /* Larger font size for large desktops */
    }

    h1{
        font-size: 40px;
    }


    footer h2{
        font-size: 32px
    }
    footer p{
        font-size: 24px
    }

    .socials img{
        width: 50px
    }
    
}
